<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header style="background-color:cyan">
      <h2>Some heading</h2>
      <p>Header content</p>
    </header>
    <main style="background-color:grey">
      <h2>Main content heading</h2>
      <p>Main content</p>
      <div style="font-style:italic">
        <h3>The Div and Span Tags</h3>
        <p>The Colours of the Rainbow are:</p>
         <ol>
           <li><span style="color:red">Red</span></li>
           <li><span style="color:orange">Orange</span></li>
           <li><span style="color:yellow">Yellow</span></li>
           <li><span style="color:green">Green</span></li>
           <li><span style="color:blue">Blue</span></li>
           <li><span style="color:indigo">Indigo</span></li>
           <li><span style="color:violet">Violet</span></li>
         </ol>
      </div>
    </main>
    <footer style="background-color:orange">
      <h2>Footer content heading</h2>
      <p>Footer content such as copyright, sitemaps, contact information</p>
    </footer>
  </body>
</html>
Saving the document
